@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..370&display=swap');

body {
    margin: 0;
    font-family: 'Readex Pro';
}

.edit-form-container {
    max-height: 80vh; /* Set the max height of the form */
    overflow-y: auto; /* Allow vertical scrolling when the content exceeds the max height */
    padding-right: 15px; /* Optional: prevent content from touching the scrollbar */
  }