@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..370&display=swap');

body {
    margin: 0;
    font-family: 'Readex Pro';
    background: #fdfcfb;
}

body{
    max-height: 90vh; /* Set the max height of the form */
    overflow-y: auto; /* Allow vertical scrolling when the content exceeds the max height */
  }

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Edge */
  }

.edit-form-container {
    max-height: 80vh; /* Set the max height of the form */
    overflow-y: auto; /* Allow vertical scrolling when the content exceeds the max height */
  }


  .edit-form-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Edge */
  }

  .custom-event {
    height: 45px;
    background-color: rgb(77, 231, 100);
    border: none;
    color: rgb(240, 11, 11);
  }

  .custom-datepicker {
    width: 400px !important;  /* Adjust width */
    height: 400px !important; /* Adjust height */
  }
  