@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..370&display=swap');

body {
    margin: 0;
    font-family: 'Readex Pro';
}

body{
    max-height: 90vh; /* Set the max height of the form */
    overflow-y: auto; /* Allow vertical scrolling when the content exceeds the max height */
  }

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Edge */
  }

.edit-form-container {
    max-height: 80vh; /* Set the max height of the form */
    overflow-y: auto; /* Allow vertical scrolling when the content exceeds the max height */
  }


  .edit-form-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Edge */
  }

  .custom-event {
    height: 25px;
    background-color: lightblue;
    border: none;
    color: black;
  }